.salary-table-page {
  padding: 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/salary.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  height: 90vh;
  width: 100%;

  h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #fcf4f4;
  }

  .loading {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
  }

  .salary-table {
    border-collapse: collapse;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    thead {
      background-color: #ffa62f;
      color: #fff;

      th {
        padding: 10px;
        text-align: left;
        font-size: 1rem;
      }
    }

    tbody {
      tr {
        &:nth-child(odd) {
          background-color: #f4f4f4;
        }

        &:hover {
          background-color: #f9dba5;
        }

        td {
          padding: 10px;
          font-size: 0.95rem;
          text-align: left;
          border-bottom: 1px solid #ddd;
        }
      }
    }
  }

  .download-salary-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 15px;
    background-color: #28a745;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;

    &:hover {
      background-color: #218838;
    }
  }
}
